accordion-block p {
  padding: 0 175px;
  color: var(--Color-Neutral-100, #191919);
  font-family: var(--Typography-Font-Family-Garamond, "ITC Garamond");
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 90px */
  margin-bottom: 72px;
  letter-spacing: -1.5px;
}




@media (max-width: 768px) {
  accordion-block p {
    font-size: 50px;
    padding: 0 ;
    color: var(--Color-Neutral-100, #191919);
    font-family: "ITC Garamond Std";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%; /* 43.2px */
    letter-spacing: -0.72px;
    margin-bottom: 42px;
  }
  main > .section > div {
    max-width: 1200px;
    margin: auto;
    padding: 0 16px;
  }
}
